.input-vertical__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.6rem 1rem;
    & > label {
        font-size: 1.6rem;
        font-weight: 500;
        padding-bottom: 1rem;
    }
    & > input {
        padding: 0.6rem 1rem;
        font-family: inherit;
        font-size: 1.6rem;
        height: 38px;
    }

    .form-error {
        font-size: 1.4rem;
        font-weight: 500;
        color: #d63031;
        margin: 0.6rem 0;
    }
}
