.VerifyBooking-container {
    .VerifyBooking-wrapper {
        padding-top: 80px;
        .VerifyBooking-title {
            text-align: center;
            padding-top: 4rem;
            font-size: 3rem;
            font-weight: 500;
            text-shadow: 0px 0px 0.2px black;
        }
    }
}
