.ManageDoctor-container {
    padding-bottom: 6rem;
    padding-top: 2rem;
    .ManageDoctor-markdowns-group {
        overflow-y: hidden;
        position: relative;
        animation: fadeIn 0.2s ease-out;
        .ManageDoctor-select {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 0.6rem;
            .col-2 {
                grid-column: span 1;
            }
            .col-3 {
                grid-column: span 2;
            }
            .col-1 {
                grid-column: span 3;
            }
        }
        .markdown {
            .markdowns-display {
                display: flex;
                flex-direction: column;
            }
        }
        .ManageDoctor-btn {
            padding: 1rem 1rem;
            button {
                border: none;
                outline: none;
                padding: 0.6rem 1.2rem;
                font-family: inherit;
                font-weight: 500;
                font-size: 1.6rem;
                background-color: #0984e3;
                border-radius: 4px;
                color: white;
                cursor: pointer;
                transition: all 0.1s ease;
                user-select: none;
                &:hover {
                    opacity: 0.8;
                }
                &:disabled {
                    opacity: 0.8;
                    cursor: not-allowed;
                }
            }
        }
    }
}

.ManageDoctor__loading {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
