.Table-wrapper {
    table {
        width: 100%;
        border-spacing: 0;
        border: 1px solid black;
        font-size: 1.6rem;
        th,
        td {
            margin: 0;
            padding: 0.6rem 1rem;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            font-weight: 500;
            text-align: center;
            line-height: 2.2rem;
            &:last-child {
                border-right: 0;
            }
        }
        tr {
            td {
                font-weight: 400;
            }
            &:last-child {
                td {
                    border-bottom: 0;
                }
            }
        }
        th {
            background-color: #0984e3;
            color: white;
        }
    }
}
