.InputSelectBasicVal {
    width: 100%;
    font-size: 1.6rem;
    padding: 0.6rem 1rem;
    & > label {
        display: block;
        font-weight: 500;
        padding-bottom: 1rem;
    }
    .InputSelectBasicVal__errors {
        font-size: 1.4rem;
        font-weight: 500;
        color: #d63031;
        margin: 0.6rem 0;
    }
}
