.home__section.OutstandingDoctorSection {
    padding: 4rem 2rem;
    background-color: white;
    .title {
        font-size: 2.6rem;
        font-weight: 600;
        color: black;
        padding-bottom: 3rem;
    }
}
