.input-vertical-password__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.6rem 1rem;
    & > label {
        font-size: 1.6rem;
        font-weight: 500;
        padding-bottom: 1rem;
    }
    .input-vertical-password__input {
        width: 100%;
        position: relative;
        input {
            width: 100%;
            padding: 0.6rem 1rem;
            font-family: inherit;
            font-size: 1.6rem;
            height: 38px;
            &.input-password {
                padding-right: 3rem;
            }
        }
        .icon {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            padding: 0 0.6rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            user-select: none;
        }
    }
    .form-error {
        font-size: 1.4rem;
        font-weight: 500;
        color: #d63031;
        margin: 0.6rem 0;
    }
}
