.home__section.HealthFacilitiesSection {
    padding: 4rem 2rem;
    background-color: #f5f5f5;
    .title {
        font-size: 2.6rem;
        font-weight: 600;
        color: black;
        padding-bottom: 3rem;
    }
}
