.input-horizontal-password {
    .input-horizontal-password__wrapper {
        display: flex;
        align-items: center;
        position: relative;
        flex-wrap: wrap;
        label {
            width: 90px;
            font-size: 1.6rem;
            font-weight: 500;
            height: 100%;
            padding: 0.6rem 0;
            flex-shrink: 0;
        }
        .input-horizontal-password__input {
            width: 100%;
            position: relative;
            flex: 1;
            input {
                width: 100%;
                min-width: 200px;
                outline: none;
                border: 1px solid #2d3436;
                padding: 0.6rem 1rem;
                border-radius: 2px;
                font-size: 1.6rem;
                font-family: inherit;
                font-weight: 500;
                height: 38px;
                &.input-password {
                    padding-right: 3rem;
                }
            }
            .icon {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                padding: 0 0.6rem;
                cursor: pointer;
                display: flex;
                align-items: center;
                user-select: none;
            }
        }
    }
    .form-error {
        font-size: 1.4rem;
        padding-top: 0.6rem;
        font-weight: 500;
        color: #d63031;
    }
}
